restaurant-backend/node_modules
restaurant-backend/package-lock.json
restaurant-backend/.env
delivery-backend/node_modules/
delivery-backend/.env
application-backend/node_modules
application-backend/.env

